
body{
    font-family: Helvetica;
    background:#E7E5ED;
    cursor: url('img/blackCircle.png'), auto;
}

.rules{
    position: absolute;
    left:90%;
    top:85%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:50px;
    opacity:.5;
    cursor: url('img/blackCircle.png'), auto;
}

.rules:hover{
    font-size: 70px;
    opacity: 1;
    position: absolute;
    text-decoration: none;
    cursor: url('img/blackCircle.png'), auto;
}
.sources{
    padding-top:20px;
    text-decoration: none;
    color:black;

}
.sources:hover{
    padding-top:20px;
    text-decoration: none;
    color:black;
    border-bottom: 5px black solid;

}

.sourceReceipt{
    border-width: 5px;
    border-color:black;
    border-style: solid;
    background:white;
    width: 800px;
    height: 1200px;
    text-align: center;
    padding-top:4%;
    margin-left:20%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 35px;
    color:black;
    position:relative;
}

.receipt{
    border-width: 5px;
    border-color:black;
    border-style: solid;
    background:white;
    width: 800px;
    height: 1040px;
    text-align: center;
    padding-top:4%;
    margin-left:20%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 35px;
    color:black;
    position:relative;
}
.receipt2{
    border-width: 5px;
    border-color:black;
    border-style: solid;
    background:white;
    width: 1040px;
    height: 1040px;
    text-align: center;
    padding-top:4%;
    margin-left:15%; 
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 35px;
}

.receipt3{
    border-width: 5px;
    position: absolute;
    border-color:black;
    border-style: solid;
    background:#F9F6D7;
    width: 35.25cm;
    height: 35.25cm;
    text-align: center;
    font-size: 35px;
    margin-top:7%;
    margin-left:3%;
    margin-bottom: 7%;
    z-index: -1;
    cursor: url('img/clock.png'), auto;
}
.receipt4{
    border-width: 3px;
    border-color:black;
    position: absolute;
    border-style: solid; 
    background:white; 
    width: 5.99in;
    height: 5.99in;
    text-align: center;
    font-size: 35px;
    margin-top:7%;
    margin-left:30%;
    margin-bottom: 7%;
    cursor: url('img/blackCircle.png'), auto;
    opacity:.8;
}

.receipt5{
    border-width: 5px;
    border-color:black;
    border-style: solid;
    background:white;
    width: 5.98in;
    height: 5.98in;
    text-align: center;
    font-size: 35px;
     margin-top:10%;
     margin-left:30%;  
    margin-bottom: 0%;
    cursor: url('img/blackCircle.png'), auto;
    position: absolute;
}

.receipt6{
    border-width: 5px;
    border-color:black;
    position: absolute;
    border-style: solid; 
    background:white; 
    width: 16.32cm;
    height: 16.32cm;
    text-align: center;
    font-size: 35px;
    margin-top:7%;
    margin-left:30%;
    margin-bottom: 7%;
    cursor: url('img/blackCircle.png'), auto;
    opacity:.8;
}

.circle{
  height: 80px;
  width: 80px;
  border: red;
  border-style: solid;
  border-radius: 50%;
  /* margin-left:100px; */
  margin:70px;
  margin-left: 120px;
}

.circle:hover{
    background-color: red;
    display: block;
    cursor: url('img/blackCircle.png'), auto;
}

.square{
    height: 80px;
    width: 80px;
    border:blue;
    border-style: solid;
    margin:70px;
    margin-left: 120px;
}

.square:hover{
    background-color: blue;
    display: block;
    cursor: url('img/blackCircle.png'), auto;
}

.halfCirc{
    width: 100px;
    height: 50px;
    border-radius: 100px 100px 0 0;
    border: 3px solid black;
    margin:62px;
    margin-left: 120px;
}

.halfCirc:hover{
    background:black;
    cursor: url('img/blackCircle.png'), auto;
}

.diamond{ 
    height: 80px;
    width: 80px;
    transform: rotate(45deg);
    border: #F2E148;
    border-style: solid;
    margin:70px;
    margin-left: 120px;
}
.diamond:hover{ 
    background:#F2E148;
    cursor: url('img/blackCircle.png'), auto;
}

.halfCircRotate{
    width: 100px;
    height: 50px;
    border-radius: 100px 100px 0 0;
    border: 3px solid green;
    transform: rotate(90deg);
    margin: 75px;
    margin-left: 120px;
}

.halfCircRotate:hover{ 
    background:green;
    cursor: url('img/blackCircle.png'), auto;
}

.constraints{
    font-size: 30px;
    padding-top:100px;
    text-align: left;
    margin-left:30px;
    border-bottom:dotted black;
    height:-5px;
    width:92%;
}

#shapes{
    padding-bottom:100px;
}

.days{
    font-size: 35px;
    bottom:10px;
    text-align: left;
    line-height: 80px;
    margin-left:30px;
    cursor: url('img/blackCircle.png'), auto;
    color: black;
}

.days:hover{
    cursor: url('img/blackCircle.png'), auto;
    color: black;
}

.dayOne{
    text-decoration: none;
    color: black; 
    cursor: url('img/index.png'), auto;
    text-align: left;

}
.dayOne:hover{
    text-decoration: none;
    color: black;
    cursor: url('img/blackCircle.png'), auto;
    text-align: left;
    position:relative;
    font-size: 55px;
}
.dayTwo{
    text-decoration: none;
    color: black; 
    text-align: left;
}
.dayTwo:hover{
    text-decoration: none;
    color: black;
    text-align: left;
    position:relative;
    font-size: 55px;
}
.dayThree{
    text-decoration: none;
    color: black; 
    cursor: url('img/index.png'), auto;
    text-align: left;
}
.dayThree:hover{
    text-decoration: none;
    color: black;
    cursor: url('img/blackCircle.png'), auto;
    text-align: left;
    font-size: 55px;
}
.dayFour{
    text-decoration: none;
    color: black; 
    cursor: url('img/index.png'), auto;
    text-align: left;
}
.dayFour:hover{
    text-decoration: none;
    color: black;
    cursor: url('img/blackCircle.png'), auto;
    text-align: left;
    font-size: 55px;
}
.dayFive{
    text-decoration: none;
    color: black; 
    cursor: url('img/index.png'), auto;
    text-align: left;
}
.dayFive:hover{
    text-decoration: none;
    color: black;
    cursor: url('img/blackCircle.png'), auto;
    text-align: left;
    font-size: 55px;
}

.Audrey{
    font-family:'Lucida Grande';
    font-size: 90px;
    background:#F3DB01;
    border: 1px  solid black;
    text-align: center;
    width:380px;
    height:15%;
    top:9%;
    padding:20px 10px 5px 0px;
    position:absolute;
}
.Audrey:hover{
    background:#EF2D17;
    color:#F3DB01;
    padding:10%;
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
}

.ate{
    font-family:'Times New Roman';
    font-size: 50px; 
    background:#F3DB01;
    border: 5px solid black;
    text-align: center;
    padding:10px; 
    padding-top:47px;
    padding-bottom:47px;
    width:19.4%;
    position:absolute;
    left:623px;
    top:80px;
    z-index: 1;
}
.ate:hover{
    cursor: url('img/apple.png'), auto;
    background:black;
    color: white;
}

.arkansas{
    font-family:'Times New Roman';
    font-size: 70px; 
    background:#F3DB01;
    border: 3px solid black;
    text-align: center;
    padding:20px;
    padding-top:34px;
    padding-bottom:34px;
    width:17.9%;
    position: absolute;
    left: 960px;
    top:80px;
}
.arkansas:hover{
    cursor: url('img/arkansas.png'), auto;
    text-decoration:underline;
    color:red;
}

.aardvark{
    font-family:'Lucida Grande';
    font-size: 90px; 
    background:#F3DB01;
    border: 1px solid black;
    text-align: left;
    padding:20px;
    width:28%;
    position: absolute;
    top:240px;
}
.aardvark:hover{
    cursor: url('img/aardvark.png'), auto;
}
.aardvarks{
    font-family: Impact;
    color: #EF2D17;
    font-size: 93px; 
    background:white;
    border: 1px solid black;
    text-align: center;
    padding:40px;
    width:29.2%;
    position: absolute;
    right:310px;
    top:316px;
}
.aardvarks:hover{
    cursor: url('img/aardvark.png'), auto;
}
.attacked{
    font-family: Impact;
    color: #EF2D17;
    font-size: 50px; 
    background:white;
    border: 1px solid black;
    text-align: center;
    padding:37px;
    width:17.7%;
    position: absolute;
    right:500px;
    top:475px;
}
.as{
    font-family: Impact;
    color: #F3DB01;
    font-size: 160px; 
    background:#EF2D17;
    border: 1px solid black;
    text-align: center;
    width:12%;
    position: absolute;
    top:476px;
    right:310px;
}

.as:hover{
    width:65%;
    z-index: 2;
}

.adoring{
    font-family: Impact;
    color: #EF2D17;
    font-size: 80px; 
    background:white;
    border: 1px solid black;
    text-align: center;
    width:20%;
    position: absolute;
    top:671px;
    right:1028px;
}
.adoring:hover{
    cursor: url('img/heart.png'), auto;
    background:#EF2D17;
    color:white;
}

.autocrat{
    font-family: Impact;
    color: #EF2D17;
    font-size: 161px; 
    background:white;
    border: 1px solid black;
    text-align: center;
    width:45%;
    position: absolute;
    top:670px;
    right:309px;
}
.autocrat:hover{
    cursor: url('img/autocrat.png'), auto;
    background: black;
    color:grey;
    opacity:.2;
    text-decoration: line-through;

}

.endingOne{
    font-family: "Lucida Console", Monaco, monospace; 
    color: white;
    font-size: 28px; 
    background:#EF2D17;
    border: 1px solid black;
    text-align: left;
    padding-left:20px;
    padding-top: 30px;
    padding-bottom: 30px;
    width:45%;
    position: absolute;
    top:868px;
    right:608px;
}

.endingOne:hover{
    cursor: url('img/amoeba.png'), auto;
    color:black;
}
.exclaim{
    font-family: 'Times New Roman', Times, serif; 
    color: #F3DB01;
    font-size: 275px; 
    background:black;
    border: 1px solid black;
    text-align: center;
    width:10%;
    position: absolute;
    top:868px;
    right:310px;
}
.exclaim:hover{
    font-weight: 900;
    text-shadow: 7px 7px red;
}
.exclaim2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: #F3DB01;
    font-size: 100px; 
    background:#9E9998;
    border: 1px solid black;
    text-align: center;
    width:7.5%;
    position: absolute;
    padding-bottom:20px;
    top:860px;
    right:479px;
    transform: rotate(90deg);
    opacity: .7;
}
.exclaim2:hover{
    text-shadow: 7px 7px black;
    font-weight: 900;
}
.exclaim3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: red;
    font-size: 190px; 
    background:#F3DB01;
    border: 1px solid black;
    text-align: center;
    width:8.5%;
    height:22%;
    position: absolute;
    top:985px;
    right:471px;
}
.exclaim3:hover{
    text-shadow: 7px 7px black;
    font-weight: 900;
}

.box1{
    font-family: Arial, Helvetica, sans-serif; 
    font-size:55px;
    color:red;
    background:#F3DB01;
    text-align: center;
    width:13.7%;
    height:8.5%;
    position: absolute;
    top:238px;
    left:741px; 
    opacity: .3;
}
.box2{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size:40px;
    color:yellow;
    background:black;
    text-align: center;
    width:31%;
    height:8.1%;
    position: absolute;
    top:598px;
    left:245px; 
    opacity: .5;
}

#time{
    font-family: 'Lucida Grande';
    font-size:45px;
    padding-top:15%;
    opacity:.8;
    color:#F03712;
    font-weight: bold;
    cursor: url('img/clock.png'), auto;
}

.yes{
position: relative;
width:45%;
height:96%;
background:black;
color:white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 100px;
padding-top:115px;
border: 1px solid black;
padding: 10px;
box-shadow: 10px 5px;
left:0%;
}
.yes:hover{
    background:#E6E6E6;
    color:black;
    cursor: url('img/thumbsUp.png'), auto;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 10px 5px;
}

.no{
    position: relative;
    width:45%;
    height:96%;
    bottom:577px;
    left:280px;
    background:white;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    padding-top:130px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 5px;
    left:50%;
}
.no:hover{
    background:black;
    color:white;
    cursor: url('img/thumbsDown.png'), auto;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 10px 5px ;
}
a:link, a:visited{
    text-decoration: none;
}

.nextPage{
    font-size: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity:.5;
    left:1090px;
    bottom:420px;
    position: absolute;
}
.previousPage{
    font-size: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity:.5;
    bottom:420px;
    right:1150px;
    position: absolute;
}

.previousPage:hover{
    font-size:150px;
    opacity:1;
}
.nextPage:hover{
    font-size:150px;
    opacity:1;
}

#canvasContainer{
    width: 35cm;
    padding-top:100px;
}

.three{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:50px;
    top:55%;
    left:80%;
    position: absolute;
    color: #2953a6;
}
.six{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:50px;
    top:85%;
    left:48%;
    position: absolute;
    color: #2953a6;
}
.nine{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:50px;
    top:55%;
    left:15%;
    position: absolute;
    color: #2953a6;
}
.twelve{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:50px;
    top:25%;
    left:47%;
    position: absolute;
    color: #2953a6;
}

.constraint3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:60px;
    font-weight: 500;
    top:1%;
    left:2%;
    position: absolute;
}

.constraint3:hover{
    cursor: url('constraint3.svg'), auto;
    z-index: 3;
    position:absolute;
}

.first{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-align: center;
    margin:10%;
}

.sketch{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    padding-top:5%;
}

.jokeHeading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:40px;
    padding:20px 110px 20px 110px;
    border-bottom: dotted black 3px;
    width:65%;
}

.grid {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: white;
	padding: 5px;
	margin: 0px; 
}



.answer1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: white;
        color: white;
        padding: 25px;
        padding-top: 40px;
        border-radius: 90px;
        text-align: center;
        font-size: 30px;
}
  
.question1{
        color: #234372;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-style: none;
        color:black;
        font-size: 30px;
        padding-top: 35px;

    }

.answer1:hover {
        color: white;
        background:#F6AA12;
    }								
    

    .answer2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: white;
        color: white;
        padding: 25px;
        padding-top: 40px;
        border-radius: 90px;
        text-align: center;
        font-size: 30px;
}
  
.question2{
        color: #234372;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-style: none;
        color:black;
        font-size: 30px;
        padding-top: 35px;
        padding-left:10px;
        text-align: left;
    }

.answer2:hover {
        color: white;
        background: #85CB74;
    }	


    .answer3{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: white;
        color: white;
        padding: 25px;
        padding-top: 65px;
        border-radius: 90px;
        text-align: center;
        font-size: 30px;
}
  
.question3{
        color: #234372;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-style: none;
        color:black;
        font-size: 30px;
        padding-top: 35px;
    }

.answer3:hover {
    background:#F6AA12;
        color: white;
    }	

    .img1{
        top:400px;
        right:390px;
        position:absolute;
    }
    .img2{
        top:520px;
        right:390px;
        position:absolute;
    }
    .img3{
        top:630px;
        right:390px;
        position:absolute;
    }
    .img4{
        top:750px;
        right:390px;
        position:absolute;
    }
    .img5{
        top:870px;
        right:390px;
        position:absolute;
    }

.background{
    background: 'img/constraint2.pdf';
    width:100%;
    height:100%;
}

.sun{
    position:absolute;
    padding-top:80px;
    left:28%;
}


.square1{
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
text-align: center;
width: 140px;
height:135px;
background:white;
color:white;
text-decoration: none;
top:50px;
padding-top:10px;
}

.square1:hover{
background:white;
color:black;
opacity:.7;
border: 2px solid black;
}

.square2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 140px;
    height:145px;
    background:white;
    color:white;
    text-decoration: none;
    top:60%;
    }
    
    .square2:hover{
    background:white;
    color:black;
    opacity:.7;
    border: 2px solid black;
    }



    .square3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
        width: 140px;
        height:145px;
        background:white;
        color:white;
        text-decoration: none;
        top:60%;
        }
        
        .square3:hover{
        background:white;
        color:black;
        opacity:.7;
        border: 2px solid black;
        }

        .square4{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            text-align: center;
            width: 140px;
            height:135px;
            background:white;
            color:white;
            text-decoration: none;
            top:60%;
            }
            
            .square4:hover{
            background:white;
            color:black;
            opacity:.7;
            border: 2px solid black;
            }
            
            #sources{
                font-size:20px;
                text-align: left;
                padding-left:60px;
            }